<banner class="how-it-works">
  <image-container>
    <img src="./assets/img/como-fiunciona.png" alt="">
  </image-container>
  <div class="content">
    <h1 class="h0">Bem vindo a votação do Vtuber Awards Brasil 2024</h1>
    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h4>
  </div>
</banner>

<how-vote class="oob-background">
  <out-of-bounds-background>
    <div class="background"></div>
  </out-of-bounds-background>

  <h3 class="has-after-before">Como votar</h3>

  <div class="content">
    <video-container>
      <embed src="https://www.youtube.com/embed/CpvzeyzgQdw" type="" />
    </video-container>
    <div class="explanation">
      <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime aut aspernatur neque totam amet excepturi
          facilis similique harum dignissimos nisi.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sed natus eos adipisci consequuntur,
          maxime autem ratione repellat labore ab!</li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum suscipit temporibus vitae odit iure
          voluptatibus possimus excepturi delectus doloribus aliquid.
        </li>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum suscipit temporibus vitae odit iure
          voluptatibus possimus excepturi delectus doloribus aliquid.
        </li>
      </ul>
    </div>
  </div>
  <button>Comece a votar <svg width="21" height="20" viewBox="0 0 21 20" fill="#ffffff"
      xmlns="http://www.w3.org/2000/svg">
      <mask id="mask0_237_2571" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="21" height="20">
        <rect x="0.5" width="20" height="20" fill="#ffffff" />
      </mask>
      <g mask="url(#mask0_237_2571)">
        <path
          d="M9.39547 2.93298V12.8315L4.98789 8.42392L3.43262 10L10.4997 17.0671L17.5667 10L16.0114 8.42392L11.6038 12.8315V2.93298H9.39547Z"
          fill="#ffffff" />
      </g>
    </svg></button>
</how-vote>

<categories>
  <h3 class="has-after-before">Categorias</h3>
  <div>
    <category hx-get="./pages/category?category=mascote" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=mascote">Mascote
    </category>

    <category hx-get="./pages/category?category=videocassetadas" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=videocassetadas">Video Cassetadas</category>

    <category hx-get="./pages/category?category=karaokê" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=karaokê">Karaokê</category>

    <category hx-get="./pages/category?category=noob" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=noob">Noob</category>

    <category hx-get="./pages/category?category=qi negativo" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=qi negativo">QI Negativo</category>

    <category hx-get="./pages/category?category=medroso" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=medroso">Medroso</category>

    <category hx-get="./pages/category?category=pior dicção" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=mascote">Pior Dicção</category>

    <category hx-get="./pages/category?category=fofo" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=fofo">Fofo</category>

    <category hx-get="./pages/category?category=explosão de raiva" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=explosão de raiva">Explosão de Raiva</category>

    <category hx-get="./pages/category?category=talento inútil" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=talento inútil">Talento Inútil</category>

    <category hx-get="./pages/category?category=moderador" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=moderador">Moderador</category>

    <category hx-get="./pages/category?category=moderador" hx-swap="innerHTML swap:250ms settle:250ms"
      hx-target="main>container" hx-push-url="/category?category=moderador">Lorem</category>
  </div>
</categories>