<previous-winners hx-on:htmx:load="js:fill_winners(), winner_navigation()">
  <padded-container>
    <winners-navigation>
      <years>
        <p data-year="2020" hx-trigger="click throttle:750ms" hx-get="./pages/previous-winners?year=2020"
          hx-swap="innerHTML swap:250ms settle:250ms" hx-target="winners" hx-select="winners">2020</p>
        <p hx-trigger="click throttle:750ms" data-year="2021" hx-get="./pages/previous-winners?year=2021"
          hx-swap="innerHTML swap:250ms settle:250ms" hx-target="winners" hx-select="winners">2021</p>
        <p hx-trigger="click throttle:750ms" data-year="2022" hx-get="./pages/previous-winners?year=2022"
          hx-swap="innerHTML swap:250ms settle:250ms" hx-target="winners" hx-select="winners">2022</p>
        <p hx-trigger="click throttle:750ms" data-year="2023" hx-get="./pages/previous-winners?year=2023"
          hx-swap="innerHTML swap:250ms settle:250ms" hx-target="winners" hx-select="winners">2023</p>
      </years>
    </winners-navigation>
  </padded-container>
  <div class="title">
    <h1>Vencedores</h1>
    <p>Onde tudo começou</p>
  </div>
  <winners-header>
    <div>Categoria</div>
    <div>Público</div>
    <div>Convidados</div>
  </winners-header>
  <winners>
    <winner class="skeleton">
      <div class="skeleton-component"></div>
      <div class="category"></div>
      <div class="public">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
      <divider-vertical></divider-vertical>
      <div class="jury">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
    </winner>
    <winner class="skeleton">
      <div class="skeleton-component"></div>
      <div class="category"></div>
      <div class="public">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
      <divider-vertical></divider-vertical>
      <div class="jury">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
    </winner>
    <winner class="skeleton">
      <div class="skeleton-component"></div>
      <div class="category"></div>
      <div class="public">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
      <divider-vertical></divider-vertical>
      <div class="jury">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
    </winner>
    <winner class="skeleton">
      <div class="skeleton-component"></div>
      <div class="category"></div>
      <div class="public">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
      <divider-vertical></divider-vertical>
      <div class="jury">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
    </winner>
    <winner class="skeleton">
      <div class="skeleton-component"></div>
      <div class="category"></div>
      <div class="public">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
      <divider-vertical></divider-vertical>
      <div class="jury">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
    </winner>
    <winner class="skeleton">
      <div class="skeleton-component"></div>
      <div class="category"></div>
      <div class="public">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
      <divider-vertical></divider-vertical>
      <div class="jury">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
    </winner>
    <winner class="skeleton">
      <div class="skeleton-component"></div>
      <div class="category"></div>
      <div class="public">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
      <divider-vertical></divider-vertical>
      <div class="jury">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
    </winner>
    <winner class="skeleton">
      <div class="skeleton-component"></div>
      <div class="category"></div>
      <div class="public">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
      <divider-vertical></divider-vertical>
      <div class="jury">
        <img src="./assets/img/logo.webp" alt="">
        <div>
          <h6></h6>
          <h4></h4>
        </div>
      </div>
    </winner>
  </winners>
  <padded-container>
    <winners-navigation>
      <years>
        <p class="active" data-year="2020" hx-trigger="click throttle:750ms" hx-get="./pages/previous-winners?year=2020"
          hx-swap="innerHTML swap:250ms settle:250ms" hx-target="winners" hx-select="winners">2020</p>
        <p hx-trigger="click throttle:750ms" data-year="2021" hx-get="./pages/previous-winners?year=2021"
          hx-swap="innerHTML swap:250ms settle:250ms" hx-target="winners" hx-select="winners">2021</p>
        <p hx-trigger="click throttle:750ms" data-year="2022" hx-get="./pages/previous-winners?year=2022"
          hx-swap="innerHTML swap:250ms settle:250ms" hx-target="winners" hx-select="winners">2022</p>
        <p hx-trigger="click throttle:750ms" data-year="2023" hx-get="./pages/previous-winners?year=2023"
          hx-swap="innerHTML swap:250ms settle:250ms" hx-target="winners" hx-select="winners">2023</p>
      </years>
    </winners-navigation>
  </padded-container>
</previous-winners>