@use "../bootstrap" as b;

.has-after-before {
	@include b.flex;
	justify-content: center;
	position: relative;

	width: 100%;

	gap: b.rem(24);

	text-transform: uppercase;

	&::before,
	&::after {
		content: "";

		height: 1px;

		flex-grow: 1;
		background-color: b.get(b.$colors, white);
	}
}

calendar-events {
	@include b.flex;

	width: 100%;

	padding: b.rem(48) 0 b.rem(12);

	gap: b.rem(24);

	events {
		@include b.flex;

		width: 100%;

		gap: b.rem(16);

		event {
			@include b.flex;
			flex-flow: column;

			gap: b.rem(12);

			width: max(calc(25% - b.rem(12)), b.rem(156));

			h3 {
				background-color: b.get(b.$colors, white);
				color: b.get(b.$colors, black);
				width: 100%;
				text-align: center;
			}

			&:nth-child(1) {
				.day:nth-child(1) {
					color: b.get(b.$colors, primary);
				}
			}
		}

		.content {
			@include b.flex;
			gap: b.rem(16);

			.day {
				@include b.flex;
				flex-wrap: nowrap;
				gap: b.rem(12);

				padding: 0 b.rem(6);
			}
		}
	}
}

previous-years {
	@include b.flex;
	flex-flow: column;

	width: 100%;

	margin-top: b.rem(120);
	padding: b.rem(16) 0;

	gap: b.rem(48);

	> div {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
		grid-auto-rows: 1fr;

		width: 100%;

		gap: b.rem(16);

		@media (max-width: b.rem(800)) {
			grid-template-columns: repeat(auto-fit, minmax(b.rem(132), 1fr));
		}
	}

	year {
		@include b.flex;
		flex-flow: column;

		background-color: b.get(b.$colors, black);
		color: b.get(b.$colors, white);

		width: 100%;

		cursor: pointer;

		.img-holder {
			width: 100%;

			img {
				width: 100%;
			}
		}

		h5 {
			background-color: b.get(b.$colors, secondary);

			text-align: center;

			width: 100%;

			padding: b.rem(6) 0;
		}
	}
}

about-us {
	@include b.flex;
	flex-flow: column;
	text-align: center;

	position: relative;

	margin-top: b.rem(120);
	padding: b.rem(16) 0;

	background-color: b.get(b.$colors, main);

	z-index: 1;

	h4 {
		margin-top: b.rem(32);
		color: b.get(b.$colors, grey);
	}
}
